html {
    background-color: rgb(248, 184, 117);
}
body {
    font-family: Verdana;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20px;  
}
h1, h2, h3 {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    background-color: rgb(130, 130, 221);
    color: white;
    padding: 20px 2px 20px 2px;
    margin: 0;
    text-shadow: 3px 3px 5px black;
}
h2 {
    color: navy;
    background-color: rgb(214, 250, 238);
    padding: 2px 2px 2px 5px;
    margin: 30px 5px 15px 5px;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
}
h3 {
    color: rgb(43, 117, 120);
    text-shadow: 1px 1px 3px gray;
    margin-left: 5px;
}
p {
    margin-left: 10px;
}
li {
    line-height: 1.5;
}
hr {
    margin-right: 12px;
}
code {
  font-size: 0.95em;
}

code, .option {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    color: navy;
    border-radius: 3px;
    border: 1px #0b6e99 solid;
    padding: 0 3px;
}
.p_html {
  line-height: 1.6;
  margin-bottom: 1em;
}
.float_img,
.div_links {
    margin-left: 10px;
}
.div_links {
    line-height: 1.5;
}
.note {
  border-left: 4px solid #de9b1f; 
  padding-left: 10px;
  margin: 1em 30px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}
.note strong {
  color: #ab7002;
}
.big_emo {
    font-size: 30px;
}
#img_css_stx {
    width: 300px;
    height: auto;
    border: 3px solid rgb(251, 171, 43);
}
#img_boxm {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
}
.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}